@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #191919;
  --foreground: #171717;

  --custom-blue: #012840;
  --custom-navy: #021826;
  --custom-light-navy: #011C26; 
  --custom-cyan: #025959;
  --custom-light-cyan: #0F8C8C;
  --custom-light-light-cyan: #02b2af;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* src/styles/global.css */
@layer utilities {
  .scrollbar-hidden {
    @apply overflow-auto; /* 필요에 따라 auto 또는 scroll 설정 */
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}